html
	head
		title	upload a file and submit to know its size
	body
		form(method="post",enctype="multipart/form-data",action="/upload")
			h3	submit a file to know its size
			p
				input(type="file",name="file")
			p
				input(type="submit")
			
